


<head>
    <%- include('./partials/head') %>  
    </head>
    
    <body>
        <%- include('./partials/header') %>


<table class="table mt-5">
    <thead>
        <tr>
            
            <th>Nombre del Producto</th>
            <th>Ver</th>
            <th>Editar</th>
            <th>Borrar</th>
        </tr>
    </thead>
    <tbody>
        <% Producto.forEach(autos => { %>
            <tr>
                
                <td><%= autos.nombreProducto%> </td>
                <td><a href="/detail/<%= autos.id%>"><ion-icon name="eye-outline"></ion-icon></a></td>
                <td><a href="/producto/edit/<%= autos.id%>"><ion-icon name="create-outline"></ion-icon></a></td>
                <td><a href="/producto/delete/<%= autos.id%>"><ion-icon name="trash-outline"></ion-icon></a></td>
            </tr>
        <% }) ; %>
    </tbody>
</table>    
    </body>