

<!-- Include Head -->
<head>
<%- include('./partials/head') %>  

</head>

<body>
    <%- include('./partials/header') %>
    		<% console.log(autos)%>
			<div class="container products-wrapper">
                <div class="d-flex align-items-center">
                    <h2 class="products-title"><%= autos.nombreProducto %> </h2> 
                    <p class="product-detail-description">
                        <a href="/users/productAdd">Editar</a>
                    </p>
                    <a href="/" class= "btn btn-primary">Volver</a>
                    <form action="/product/borrar/<%=autos.id%>" method="post">
                        <button>Borrar</button>
                    </form>

                </div>
                <div class="product-detail">
                    <div class="row">
                        <article class="col-12 col-lg-8 product-detail-info">
                            <img src="/images/productos/<%= autos.imagen %> " alt="">
                            <p class="product-detail-price">Precio : $ <%= autos.precio %></p>
                            <p class="product-detail-description"><%= autos.descripcion %> </p>
                        </article>
                        <div class="col-12 col-lg-4">
                            <div class="col-12 col-lg-4">
                                <section class="comments">
                                    <article>
                                        <h2 class="comentario-titulo">Comentarios:</h2>
                                        <% for(let i=0; i< autos.comentarios.length; i++){ %>
                                        <img src="/images/users/" alt="userIcon">
                                        <div class="data">
                                            <p class="user">
                                            <strong> <a class= "editar link" href="/users/profile/<%= productos.comentarios[i].usuarios.id %> "> <%= productos.comments[i].usuarios.nombre %> </a> </strong>
                                            <%= productos.comentario[i].comentarios%></p>
                                        </div>
                                        <% } %>
                                    </article>
                                </section>
                                <% if(locals.user){ %>
                                <form class="form" action="/products/comentar" method="POST">
                                    <input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
                                    <label for="fechaDeCreacion">Fecha:</label><input type="date" name="fechaDeCreacion">
                                    <input type="hidden" name="usuario_id" value="<%= locals.user.id %>">
                                    <input type="hidden" name="producto_id" value="<%= productos.id %>">
                                    <button type="submit" class="buy-now-button link">AGREGAR COMENTARIO</button>
                                </form>
                                <hr>
                                <% } else { %>
                                    <a class="buy-now-button link" href="/users/login">AGREGAR COMENTARIO</a>
                                <% } %> 
                            </div>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer') %>

</body>