

<!-- Include Head -->
<head>
    <%- include('./partials/head') %>  
    
    </head>
    
    <body>
        <%- include('./partials/header') %>
                
                <div class="container products-wrapper">
                    <div class="d-flex align-items-center">
                        <h2 class="products-title"><%= productos.nombreProducto %> </h2> 
                        <a href="/" class= "btn btn-primary">Volver</a>
    
                    </div>
                    <div class="product-detail">
                        <div class="row">
                            <article class="col-12 col-lg-8 product-detail-info">
                                <img src="/autosImg/<%= productos.imagen %> " alt="">
                                <h1 class="text-center text-white bg-danger p-3"> Confirmar si deseas borrar el producto </h1>
                            </article>
                            <form action="/detail/delete/ <% productos.id %>" method="POST"></form>
                            <button type="submit" class="btn btn-danger">Borrar producto</button>
                           
                        </div>
                    </div>
                </div>
    
                <%- include('./partials/footer') %>
    
    </body>